{{>header}}
<center><h1>{{title}}</h1></center>
 <!--Integrantes del equipo-->
<div class="container">
    <div class="text-center">
        <br>
        <br>
        <font color="171D1C" face="Open Sans"><h2><em>Equipo desarrollador: </em></h2></font>
         <br>
    </div>
    <div class="row">
         <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="https://compoundacademy.com/wp-content/uploads/2021/11/job.png" alt="..." />
                <font color="171D1C" face="Open Sans"><h4><em>Daniela Alvarez</em></h4></font>
                <p class="text-muted">SMIS917920</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                 <img class="mx-auto rounded-circle" src="https://compoundacademy.com/wp-content/uploads/2021/11/job.png" alt="..." />
                 <font color="171D1C" face="Open Sans"><h4><em>Christopher Murillo</em></h4></font>
                 <p class="text-muted">SMIS903520</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="https://compoundacademy.com/wp-content/uploads/2021/11/job.png" alt="..." />
                <font color="171D1C" face="Open Sans"><h4><em>Jhonatan Benitez</em></h4></font>
                <p class="text-muted">SMIS024420</p>
            </div>
        </div>
</div>
